
/* ---------import google fonts----------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* ------------same fonts with differnt font weight--------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}


/* -------------header section-------------- */

.header{
    height: 677px;
    background-color: #2D25A0;
    padding-top:86px;
}

.header__info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.header__left{
    width: 485px;
    height:230px;
 
}
.header__heading{
    font-size: 64px;
    color:#FFFFFF;
    margin-bottom: 27px;
    font-weight: 700;
}
.header__btn{
    background-color: #E02C6D;
    color:#FFFFFF;
    font-weight: 500;
    width: 168px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    font-size: 16px;
    text-decoration: none;
}

.header:hover .header__heading{
    transform:scale(1.05);
    transition:transform .5s ease-in;
}
.header__icon{
    padding-left:8px;
}

.header__img{
   width:556.01px;
height: 438px;
}

.header:hover .header__img{
    transform: scale(1.09);
    transition: transform 0.7s ease-in;
}


/* -----------------main section---------------- */
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

}
.players{
    width:1110px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px;
    grid-row-gap:27px;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    
}

.player{
    width:315px;
    height: 459px;
    padding:15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    
}
.player__name{
    color: #18191F;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
}
.player__info{
    color:#6C6C6C;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.player__img{
    width: 300px;
    height: 256px;
    margin-bottom: 16px;
}


/* -------------embeded video section--------------- */
.match-video{
    margin-top:165px;
}
.match-video__title{
    font-size: 34px;
    margin-bottom: 30px;
    color: #18191F;
    text-align: center;
}

/* -------------------trending news section----------------- */

.trending-news{
    display: flex;
    margin-top:125px;
}

.next-match{
    margin-right: 50px;
}
.match__container{
    height: 90px ;
    box-shadow: 3px 3px 10px 0px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:7px;
    padding-left: 10px;

    

}
.match__img{
    width: 50px;
    height: 50px;
}
.match__country{
    margin:0px 17px;
}
.match__vs{
   font-size: 20px;
}
.match__date{
 font-size: 14px;
 padding-left:6px;
 color:rgb(243, 42, 7);
}
.match__result{
    position: relative;
    right: 50px;
    top: 10px;
    font-size: 14px;
    color:rgb(47, 22, 17) ;
}
/* ---------------footer section----------- */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:158px;
    margin-bottom: 58.19px;

}
.footer__img{
    width: 483.87px;
    height: 110px;
}

.footer__icons{
    width: 174.81px;
    height: 36.81px;
    margin:20px 0px;
 

}
.footer__icon{   
    background-color: #e6e6e9;
    width:32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}
.footer__icon i{
    color:#969BAB;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__para{
    font-size: 18px;
    color: #000000;
    font-weight:400;
    line-height: 24px;
}


     /* --------------------Media Query =--------------- */

   @media only screen and (max-width:688px){
     
         .header__info{
            overflow-x:hidden;
            flex-wrap: wrap;
            height: 695px;
         }
         .header__left{
             width: 278px;
             height: 138px;
         }
         .header__heading{
            font-size: 36px;
          
        }
        .header__right{
            width: 329px;
            height: 259px;
        }
        .header__img{
            width: 329px;
            height: 259px;
        } 


         .players{
             grid-template-columns: auto;
         }
          /* ----------------embaded video------------------ */
         .trending-news{
             flex-wrap: wrap;
             justify-content: center;
         }
         
         .match__highlight iframe{
            width: 400px;
         }
      
   /* ---------Tranding news section---------------- */
         .match__container{
            width: auto;
            width: 462px;
         }
         .next-match{
            margin-right: 0px;
            margin-bottom: 50px;
        }
         .match__country {
            margin: 0px 5px;
            font-size: 13px;
        }
        .match__img {
            width: 30px;
            height: 30px;
        }
        .match__vs {
            font-size: 14px;
        }
        .match__date{
            font-size: 10px;
            padding-left: 3px;
        } 

         /* --------------footer sectiion------------ */
        .footer{
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }
        .footer__img{
            width: 275px;
            height: 63px;
        }

    }